body {
  background-color: #fff;
  overflow-x: hidden;
}

main {
  padding: 10% 0;
}

.list-none {
  list-style: none;
}

.color-gray {
  color: rgb(175, 172, 172);
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.space-x-y {
  padding: 8px 15px;
}

.w-full {
  width: 100%;
}

.card {
  height: 50%;
  background-color: #fff;
  box-shadow: 5px 5px 20px 5px rgba(212, 212, 212, 0.466);
}

.text-input {
  height: 13px;
  width: 100%;
  border: none;
  padding: 20px 0;
  font-style: italic;
}

.strike-line {
  text-decoration: line-through;
}

.bg-yellow {
  background-color: #fef9ce !important;
}

input:focus {
  outline: none;
}

.editInputField {
  display: none;
  font-style: normal;
  width: 85%;
}

.description {
  display: flex;
}

.enterIcon {
  position: absolute;
  transform: rotate(90deg);
  right: 4%;
}

.border-bottom-line {
  border-bottom: 1px solid rgb(175, 172, 172);
}

.checkbox {
  margin-right: 20px;
}

.drag-over {
  background-color: gray;
}

.draggable {
  background-color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.dragging {
  border: 1px solid rgba(60, 103, 245, 0.842);
  background-color: aqua;
}

.dragElement:hover {
  cursor: move;
}

.dragIcon {
  display: flex;
}

.trashIcon {
  display: none;
}

#clear-all-completed {
  cursor: pointer;
}

@media (min-width: 768px) {
  main {
    padding: 10% 20%;
  }

  .enterIcon {
    right: 22%;
  }
}
